<div class="container">
  <div class="left">
    <p>House Work</p>
    <mat-icon>edit</mat-icon>
  </div>
  <div class="right">
    <div class="background" (click)="openDialog()">
      <mat-icon>image</mat-icon>
      <p>BackGround</p>
    </div>
    <div class="filter" (click)="openDialogFilter()">
      <mat-icon>filter_list</mat-icon>
      <p>Filter</p>
    </div>
    <div class="img">
      <div class="member-meta">
        <div class="task-members">
          <ng-container *ngFor="let avatar of avatars[0].member; let i = index">
            <img *ngIf="i <= 2" [src]="avatar" class="member-avatar" alt=""/>
            <span *ngIf="i === 3" class="more-members">+{{ avatars[0].member.length - 3 }}</span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="share">
      <mat-icon>share</mat-icon>
      <p>Share</p>
    </div>
  </div>
</div>
