<div id="container">
  <h4>Filter</h4>
  <p>Assignees</p>
  <div class="assignees">
    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <img src="https://cdn.kona-blue.com/upload/kona-blue_com/post/images/2024/09/18/457/avatar-mac-dinh-6.jpg" alt="">
      <p>Child task 1</p>
    </div>

    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <img src="https://cdn.kona-blue.com/upload/kona-blue_com/post/images/2024/09/18/457/avatar-mac-dinh-6.jpg" alt="">
      <p>Child task 2</p>
    </div>

    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <img src="https://cdn.kona-blue.com/upload/kona-blue_com/post/images/2024/09/18/457/avatar-mac-dinh-6.jpg" alt="">
      <p>Child task 3</p>
    </div>
  </div>

  <p>Tags</p>
  <div class="tags">
    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <p>Child task 1</p>
    </div>

    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <p>Child task 2</p>
    </div>

    <div class="child-task">
      <mat-checkbox></mat-checkbox>
      <p>Child task 3</p>
    </div>
  </div>

  <div id="options">
    <button mat-flat-button>Cancel</button>
    <button mat-flat-button>Save</button>
  </div>
</div>
