
<div class="filter-page">
  <h5>Filter</h5>
  <div class="top-page">
    <p>Table</p>

      <mat-card-content>
        <section class="example-section">
          <p>Tag</p>
          <mat-checkbox class="example-margin" [(ngModel)]="checked">Done</mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Not done</mat-checkbox>
        </section>
        <mat-form-field class="check-box">
        <input matInput (keyup)="checked()" placeholder="Search">
        </mat-form-field>
      </mat-card-content>

</div>
  <p>Member</p>
  <div class="members-list">
    <mat-radio-group>
      <mat-radio-button class="member-option" value="assigned">Các thẻ chỉ định cho tôi</mat-radio-button>
      <mat-radio-button class="member-option last-option" value="none">Không có thành viên</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
