.body{
  width: 100%;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.check-box{
  border: 10px var(--md-sys-color-outline);

}

::ng-deep.mdc-line-ripple::before,
::ng-deep.mdc-line-ripple::after {
  border-bottom-style: none !important;

}

::ng-deep.mat-mdc-card-content>:last-child:not(.mat-mdc-card-footer) {
  background-color: var(--md-sys-color-surface-variant) !important;
  border-radius: 100px;
  width: 100%;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

