#container {
  margin: 20px;

  .child-task {
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

    p {
      margin: 0;
      padding-left: 10px;
    }
  }

  .assignees {
    margin-bottom: 50px;
  }
}

::ng-deep.mdc-dialog__surface {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#options {
  display: flex;
  justify-content: space-between;

  button {
    margin-top: 10px;
    width: 40%;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
}
