<div class="container">
  <h5>My Board</h5>
  <div class="board-list">
    <div class="board">
      <p>Work</p>
      <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
    </div>
    <div class="board">
      <p>Personal</p>
      <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
    </div>
  </div>
  <h5>Invited boards</h5>
  <div class="board-list">
    <div class="board">
      <p>Trip To Japan</p>
      <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
    </div>
  </div>
</div>
