<div class="container">
  <div class="new-board">
    <div class="top">
      <p>New Board</p>
      <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
    </div>

    <div class="bottom">
      <p>Background</p>
      <div class="background">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
      </div>
      <div class="backgrounds">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <img src="https://cdn.hostingviet.vn/data/tinymce/2023/hinh-nen-may-tinh-4k-1.jpg" alt="ảnh">
        <mat-icon aria-hidden="false" aria-label="Example more_horiz icon" fontIcon="more_horiz"></mat-icon>
      </div>
    </div>
    <div class="name">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <div class="input">
            <input matInput placeholder="Input">
            <mat-icon aria-hidden="false" aria-label="Example cancel icon" fontIcon="cancel"></mat-icon>
          </div>
        </mat-form-field>
      </form>
      <button mat-flat-button>Create</button>
    </div>
  </div>
</div>

