<form [formGroup]="boardForm">
  <div class="container">
    <div class="new-board">
      <div class="top">
        <p>New Board</p>
        <img [src]="newBoardImage" alt="ảnh">
      </div>

      <div class="bottom">
        <p>Backgrounds</p>
        <div class="background">
          @for (background of imageList; track $index) {
            @if ($index < 8) {
              <img class="background-item"
                   [ngClass]="this.newBoardImage === background.fileLocation? 'selected': ''"
                   [src]="background.fileLocation"
                   (click)="selectBackground(background.fileLocation, background.id)">
            }
          }
          <mat-icon (click)="inputFile.click()" aria-hidden="false" aria-label="Example more_horiz icon"
                    fontIcon="more_horiz"></mat-icon>
        </div>
        <div class="name">
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Title</mat-label>
              <div class="input">
                <input matInput placeholder="Input" formControlName="title">
                <mat-icon aria-hidden="false" aria-label="Example cancel icon" fontIcon="cancel"></mat-icon>
              </div>
            </mat-form-field>
          </form>
          <button mat-flat-button (click)="createBoard()">Create</button>
        </div>
      </div>
    </div>
  </div>
  <input type="file" style="display: none" #inputFile (change)="this.onFileChange($event)" accept="image/*">
</form>
