<div style="min-width: 500px; max-width: 500px">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-dialog-content>

    <div class="task-members">
      @for (member of data.members; track $index) {
        <img [src]="member" class="member-avatar" />
      }
      <button mat-stroked-button class="add-assignee">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </div>
    <div class="info">
      <div class="info-left">
        <p>Tags</p>
        <div class="task-tags">
          @for (tag of data.tags; track $index) {
            <span [ngStyle]="{'background-color': tag}" class="task-tag">Tuong</span>
          }
        </div>
      </div>
      <div class="info-right">
        <p class="date-name">Date</p>
        <div class="date">
          <p class="task-date"> {{ data.time }} </p>
        </div>
      </div>
    </div>
    <div class="menu">
      <mat-icon>menu</mat-icon>
      <p>Description</p>
    </div>
    <textarea [(ngModel)]="data.description" rows="5" cols="20"></textarea>
    <div class="btn">
      <button mat-flat-button (click)="openDialog()">
        <mat-icon>tag</mat-icon>
        Tags
      </button>
      <button mat-flat-button (click)="openFileDialog()">
        <mat-icon>folder</mat-icon>
        File
      </button>
      <button mat-flat-button>
        <mat-icon>today</mat-icon>
        Dueday
      </button>
    </div>

    <div class="form-group">
      <div class="checklist-header">
        <label>Checklist</label>
        <div class="subtasks-counter">{{ this.completedItems || 0 }}/{{ this.totalItems || 0 }}</div>
      </div>

      <mat-progress-bar class="example-margin" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
      </mat-progress-bar>

      <!-- Subtasks List -->
      <div class="subtasks-list">
        @for (subtask of checkListItems; track $index) {
          <div class="subtask-item">
            <mat-checkbox [checked]="subtask.isCompleted">
              {{ subtask.title }}
            </mat-checkbox>
            <button mat-icon-button class="remove-subtask-button">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        }

        <!-- Add New Subtask -->
        <form [formGroup]="subTaskForm">
          <div class="add-subtask-container">
            <mat-checkbox formControlName="isCompleted"></mat-checkbox>
            <input matInput formControlName="title" class="subtask-input" placeholder="Add a new subtask">
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="file">
      <p>File</p>
      <div class="content">
        <div class="file-content">
          <mat-icon class="material-symbols-outlined">
            draft
          </mat-icon>
          <p>File.txt</p>
        </div>
        <div class="file-content-left">
          <div class="download">
            <mat-icon class="material-symbols-outlined">download</mat-icon>
          </div>
        </div>
      </div>
    </div>

        <div class="comments">
          <mat-icon>list</mat-icon>
          <p>Comments</p>
        </div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Comments" value="">
        </mat-form-field>

        <div class="people">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMYEJk1RqILyLrUptMRkn9PT4LfnlWj2Ddrg&s"
               alt="">
          <div class="about">
            <p class="on">HwngLe1801</p>
            <p class="off">Hay Quá!!</p>
          </div>
        </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button (click)="close()">Close</button>
  </mat-dialog-actions>


</div>
