p {
  margin: 0;
}

h5 {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .board-list {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;

    .board {
      position: relative;
      display: flex;
      justify-content: space-between;
      background-image: url("https://images.pexels.com/photos/1480807/pexels-photo-1480807.jpeg?auto=compress&cs=tinysrgb&w=600");
      width: 22%;
      height: 130px;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px 0 0 10px;
      color: var(--md-sys-color-on-primary);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
      }

      p {
        margin: 7px;
        z-index: 999;
      }

      mat-icon {
        color: var(--md-sys-color-on-primary);
        margin: 0;
      }

      .icon {
        display: flex;
      }
    }

    .create-board {
      display: flex;
      background-image: url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
      width: 22%;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      color: var(--md-sys-color-on-primary);
      cursor: pointer;
    }
  }

}
