<div class="container">
  <h5>Templates</h5>
  <div class="board-list">
    <div class="board">
      <p>House Work</p>
    </div>
    <div (click)="openDialog('0ms', '0ms')" class="create-board">
      <p>Create New Board</p>
    </div>
  </div>
  <h5>My Board</h5>
  <div class="board-list">
    <div class="board">
      <p>Work</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Fix</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </div>
    <div class="board">
      <div class="personal">
        <p>Personal</p>
      </div>
      <div class="icon">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Fix</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <h5>Invited boards</h5>
  <div class="board-list">
    <div class="board">
      <p>Trip To Japan</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Example more_vert icon" fontIcon="more_vert"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Fix</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
    </div>
  </div>
</div>

