table {
  width: 100%;

}
body{
  width: 100%;
}

tr:hover td {
  background-color: var(--md-sys-color-on-primary-container);
  color: var(--md-sys-color-inverse-surface);

}
.header  {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-icon {
  cursor: pointer;
  font-size: 20px;
  display: flex;
}

.header h6 {
  font-size: 15px;
}
.dialog-filter{
  display: flex;
  cursor: pointer;

}


