<div class="sidebar">
  <div class="logo" routerLink="home">
    <img src="/assets/images/logo-donezo.png" alt="">
    Donezo
  </div>

  <button (click)="openDialog('0ms', '0ms')" class="btn-create" mat-flat-button>
    <mat-icon fontIcon="add"></mat-icon>
    Create
  </button>
  <mat-selection-list>
    @for (page of navLinks; track $index) {
      @if (page.name == 'Notifications' || page.name == 'Search') {
        <mat-list-item (click)="toggleDrawer(page.name)" routerLinkActive="active-link">
          <mat-icon [fontIcon]="page.icon" class="icon"></mat-icon>
          {{ page.name }}
        </mat-list-item>

      } @else {
        <mat-list-item (click)="toggleDrawer(page.name)" [routerLink]="page.route" routerLinkActive="active-link">
          <mat-icon [fontIcon]="page.icon" class="icon"></mat-icon>
          {{ page.name }}
        </mat-list-item
        >
      }

    }
  </mat-selection-list>
  <p class="section-title">
    My boards
  </p>

  <mat-selection-list>
    @if (boards$ | async; as boards) {
      @for (board of boards.slice(0, 2); track $index) {
        <mat-list-item [routerLink]="['/kanban', board.id]" routerLinkActive="active-link">
          <img [src]="getBackgroundUrl(board)" alt="Board Background" class="background">
          <span>{{ board.name }}</span>
        </mat-list-item>
      }

      @if (boards.length > 2) {
        <p class="see-more-btn" (click)="navigateToHome()">See more...</p>
      }
    }
  </mat-selection-list>

  <p class="section-title">Invited boards</p>
  <mat-selection-list>
    @if (boards$ | async; as boards) {
      @for (board of boards.slice(0, 2); track $index) {
        <mat-list-item [routerLink]="['/kanban', board.id]" routerLinkActive="active-link">
          <img [src]="getBackgroundUrl(board)" alt="Board Background" class="background">
          <span>{{ board.name }}</span>
        </mat-list-item>
      }

      @if (boards.length > 2) {
        <p class="see-more-btn" (click)="navigateToHome()">See more...</p>
      }
    }
  </mat-selection-list>


  <div class="profile">
    @if (user) {
      <img [src]="user.photoUrl"
           alt="Profile">
      <div class="info">
        <p>{{ user.name }}</p>
      </div>
    }
  </div>
</div>
