<div id="container">
  <h4>Search</h4>
  <hr>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <div id="search-text">
        <input matInput placeholder="Hinted search text">
        <mat-icon id="search-icon" aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon>
      </div>
      <mat-option value="1">House work</mat-option>
      <mat-option value="2">Work</mat-option>
      <mat-option value="3">Personal</mat-option>
      <mat-option value="4">Trip to Japan</mat-option>
      <mat-option value="5">All tasks</mat-option>
    </mat-form-field>

  </form>
</div>
