<div id="container">
  <h4>Search</h4>
  <hr>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <div id="search-text">
        <input type="text"  matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-icon matPrefix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
          @for (option of filteredOptions | async; track option) {
            <div class="option-item">
              <img src="https://images.pexels.com/photos/1480807/pexels-photo-1480807.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="option-icon">
            <mat-option [value]="option">{{option.name}}</mat-option>
            </div>
          }
        </mat-autocomplete>
      </div>
    </mat-form-field>
  </form>
</div>
