<form [formGroup]="boardForm">
  <div class="container">
    <div class="new-board">
      <div class="top">
        <p> Change Background</p>
        <img [src]="newBoardImage" alt="ảnh">
      </div>

      <div class="bottom">
        <p>Backgrounds</p>
        <div class="background">
          @for (background of imageList; track $index) {
            @if ($index < 8) {
              <img class="background-item"
                   [ngClass]="this.newBoardImage === background.fileLocation? 'selected': ''"
                   [src]="background.fileLocation"
                   (click)="selectBackground(background.fileLocation, background.id)">
            }
          }
          <mat-icon (click)="inputFile.click()" aria-hidden="false" aria-label="Example more_horiz icon"
                    fontIcon="more_horiz"></mat-icon>
        </div>
        <div class="name">
          <button mat-flat-button (click)="createBoard()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <input type="file" style="display: none" #inputFile (change)="this.onFileChange($event)" accept="image/*">
</form>
